RewriteEngine on
RewriteRule ^accueil$ index.php [NC]
RewriteRule ^wiki$ wiki.php [NC]
RewriteRule ^equipe$ staff.php [NC]
RewriteRule ^votes$ votes.php [NC]
RewriteRule ^events$ events.php [NC]
RewriteRule ^soon$ soon.php [NC]
RewriteRule ^maintenance$ maintenance.php [NC]