RewriteEngine on
RewriteRule ^menu$ index.php [NC]
RewriteRule ^hardcore$ hardcore.php [NC]
RewriteRule ^hdv$ hdv.php [NC]
RewriteRule ^jobs$ jobs.php [NC]
RewriteRule ^lands$ lands.php [NC]
RewriteRule ^lore$ lore.php [NC]
RewriteRule ^mumble$ mumble.php [NC]
RewriteRule ^homes$ homes.php [NC]
RewriteRule ^questions-reponses$ questions_reponses.php [NC]
RewriteRule ^q-r$ questions_reponses.php [NC]
RewriteRule ^warpplayer$ warpplayer.php [NC]
RewriteRule ^cgu-cgv$ cgu-cgv.php [NC]
RewriteRule ^regles$ rules.php [NC]
RewriteRule ^under-construction$ under_construction.php [NC]