:focus-visible {
    outline: #1394C3 solid 3px;
    outline-offset: -1px;
    border: none;
}

textarea:focus-visible {
    outline: #1394C3 solid 3px;
    outline-offset: -1px;
    border: 1px solid black;
}

.form {
    padding: 20px;
    width: 400px;
    margin: 150px auto;
}

.contact-form {
    padding: 20px;
    width: 400px;
    margin: 20px auto;
}

fieldset {
    border: 1px solid white;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
}

label {
    font-size: 19px;
    text-align: left;
}

.form-content h1 {
    margin: 10px;
    text-align: center;
    color: #1394C3;
}

label, input[type="submit"] {
    font-family: police_custom, sans-serif;
    color: white;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="email"], textarea {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 94%;
    background-color: white;
    font-family: police_custom, sans-serif;
    font-size: 13px;
}

.form-content {
    margin: auto 10px;
}

input[type="submit"] {
    transition: 1s;
    color: #1394C3;
    background-color: white;
    border: none;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    transition: 1s;
    background-color: #1394C3;
    color: #1a1a1a;
}

@font-face {
    font-family: police_custom;
    src: url("/assets/fonts/MusticaPro-SemiBold.otf") format("opentype");
}