@media (max-width: 1100px) {
    .flex-container {
        flex-direction: column;
        margin: auto;
    }

    #flex-container-r {
        float: none;
        width: 97%;
    }

    #flex-container-l {
        float: none;
        max-width: 97%;
    }

    main, .navbar-list {
        margin: 0 20px;
    }

    .navbar-item-a {
        padding: 20px 5px;
    }
}