@media (max-width: 1165px) {
    .main-top-col-wiki > a > img {
        height: 170px;
        width: 170px;
    }
}

@media (max-width: 1100px) {
    .navbar-item-a {
        padding: 22px 5px;
    }

    .main-top-col {
        color: white;
        font-family: police_custom_bold sans-serif;
        width: 26%;
    }

    .main-top-col-wiki > a > img {
        height: 150px;
        width: 150px;
    }

    .flex-container {
        flex-direction: column;
    }

    #flex-container-r {
        float: none;
        width: 100%;
    }

    #flex-container-l {
        float: none;
        max-width: unset;
    }

    #footer-l {
        margin-left: 10px;
    }

    #footer-r {
        margin-right: 10px;
    }

    hr {
        margin: 20px 10px;
    }

    #h2-discord, #h2-twitter {
        text-align: left;
    }
}

@media (max-width: 925px) {
    main, .navbar-list, .footer {
        margin: 0 10px;
    }
}

@media (max-width: 745px) {
    .navbar-list {
        position: fixed;
        inset: 0 0 0 45%;
        display: flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        margin: 0;
        box-shadow: none;
        z-index: 10;
        background: hsl(0, 0%, 10%, 0.9);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navbar-list[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(1rem)) {
        .navbar-list {
            background: hsl(0 0% 0% / 0.1);
            backdrop-filter: blur(1rem);
        }
    }

    .navbar-item-a {
        float: none;
        padding: 7px 20px;
        text-align: left;
        font-size: 18px;
    }

    #nav-right {
        float: none;
    }

    .responsive-nav-toggle {
        display: block;
        position: absolute;
        padding: 0;
        z-index: 9999;
        background-color: transparent;
        background-image: url("../images/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-size: 90%;
        width: 2rem;
        border: none;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .responsive-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/icon-close.svg");
    }

    #responsive-separator {
        display: block;
        border: none;

        margin: 10px 20px;
        border-radius: 5px;
        background-color: #2C70BA;
        padding: .07em 0;

        /*
        background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(44,112,186,1) 50%, rgba(26,26,26,1) 100%);
        */
    }

    #row-up {
        justify-content: center;
        flex-direction: column;
    }

    .main-top-col {
        width: 28rem;
        padding: 12px 0;
        max-width: 100%;
    }

    .main-top-col-wiki {
        width: 28%;
        margin-bottom: 20px;
    }

    .main-top-col-wiki > a > img {
        height: 130px;
        width: 130px;
    }

    .main-top-col-wiki > a > span {
        font-size: 20px;
    }

    .main-top-big {
        margin: 10px 0;
    }

    .top-content-others {
        margin-top: 5rem;
    }

    .top-title > h1 {
        margin-top: 0;
    }

    .pop-up-message {
        top: 10%;
        width: 300px;
    }
}

@media (max-width: 475px) {
    .main-top-col-wiki {
        width: 43%;
        padding: 23px 10px;
    }

    .main-top-col-wiki > a > img {
        height: 100px;
        width: 100px;
    }

    .main-top-col-wiki > a > span {
        font-size: 18px;
    }

    .footer-item {
        justify-content: center;
        flex-direction: column;
    }

    #footer-r {
        margin-top: 20px;
    }
}